// Sass imports
@use "media-breakpoints" as *;
@use "vars-colors" as *;
@use "vars-spacing" as *;
@use "capitalize" as *;


footer {
    padding: 2rem 1.5rem;
    display: flex;
    font-weight: 500;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $clr-gray;
    border-top: solid 1px $clr-black;
    
    .panel {
        margin: 0;
        flex: 1 1 auto;
        width: 80%;

        a {
            @include capitalize;
            display: block;
            margin: $space-horiz;
            text-decoration: none;
            margin-top: 0;
            color: $clr-dark-gray;
        }
    }
}

@media (min-width: $breakpoint-tiny) {
    footer{
        padding: 2rem 3rem;
    }
    
    footer .panel {
        width: 40%;
        margin: 0;
    }
    
}

@media (min-width: $breakpoint-small) {
    footer .panel {
        width: 22.5%;
        margin: 0;
    }
}

@media (min-width: $breakpoint-large) {
    
    footer {
        padding: 3rem 7rem;
    }
    
    footer .panel {
        width: 22.5%;
        margin: 0;
    }
}
