
// Breakpoint locations for media queries
$breakpoint-small: 31.25em;
$breakpoint-medium: 61em;
$breakpoint-medium-2: 46.75em;
$breakpoint-large: 72.5em;
$breakpoint-extra: 87.5em;

/**
Use with @media (min-width: etc.) { .. }
*/