@use "vars-colors" as *;

@mixin important-text {
    background-color: $clr-orange;
    color: $clr-white;
    border: none;
    border-radius: .3rem;
    padding: .5rem;
}

@mixin default-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}