// Sass imports
@use "media-breakpoints" as *;
@use "vars-colors" as *;
@use "vars-spacing" as *;
@use "uppercase" as *;

.news-panel {
    padding: $space-horiz;
    text-align: center;
    background-color: $clr-white;

    h2{
        @include uppercase;
        font-weight: 200;
        font-size: 2rem;
        font-family: 'Source Sans 3', sans-serif;
    }
}

.news-slick {
    margin: 0 auto;
    
    img {
        width: 125px;
    }
}