@use "vars-colors" as *;

.shop-by {
    background-color: white;
    margin: 0 auto;
}

h2 {
    margin: 0;
    padding:1.5rem ;
    font-size: 2.75rem;
    font-weight: 200;
    text-align: center;
    }

.shop-by-slide {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.shop-by-contents {
    width: 90%;
    margin: 0 auto;
    position: relative;
    img {
    border-radius: 50%;
    width: 100%;
    filter: brightness(0.5);
    }
    p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    }    
}

.shop-text {
    z-index: 999;
    font-size: 1.5rem;
    color:$clr-white;
}

@media (min-width: 450px) {
.shop-by-slide {
    position: relative;
    display: inline;
    .slick-slider {
        position: relative;
        display: block;
        width: 80%;
        margin: 2rem auto;
    }
    .slick-next:before, .slick-prev:before {
        color: $clr-orange !important;
        font-size: 2rem !important;
    }
}

.shop-by-contents {
    p {
        font-size: 2rem;
    }
}
}