@use "vars-colors" as *;

h2 {
    margin: 1rem;
    font-size: 2.75rem;
    font-weight: 200;
    }

.shop-by-slide {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.shop-by-contents {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: "main";
    img {
    grid-area: main;
    border-radius: 50%;
    width: 100%;
    filter: brightness(0.5);
    }
    p {
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    }    
}

.shop-text {
    grid-area: main;
    z-index: 999;
    font-size: 1.5rem;
    color:$clr-white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 450px) {

}