// Sass imports
@use "media-breakpoints" as *;
@use "uppercase" as *;
@use "vars-colors" as *;
@use "vars-spacing" as *;

.social-panel {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: space-between;
    padding: 2rem;
    align-items: baseline;
    
    

    h3 {
        margin: $space-horiz;
        font-weight: 500;
        padding: .5rem;
    }

    .email {
        @include uppercase;
        display: flex;
        align-items: center;
    }
}

.social-panel h3:hover {
    color: $clr-orange;
}

@media (min-width: $breakpoint-large) {
    .social-panel {
        padding: 2rem 7rem;
    }
}