@use "vars-colors" as *;
@use "vars-spacing" as *;
@use "uppercase" as *;

.top-arrow {
    @include uppercase;
    font-weight: bold;
    font-size: larger;
    padding: 3rem $space-horiz 0;
    background-color: $clr-white;
    color: $clr-orange;
}