
/*
$clr-red100: rgb(255, 17, 0);
$clr-black: black;
$radius: 0.2rem;*/

$clr-black: black;
$clr-white: #FFFFFF;
$clr-orange: #ffa500;
$clr-orange-transparent: rgb(128,128,0,0.50);
$clr-white-transparent: rgba(255, 255, 255, 0.50);
$clr-black-transparent: rgba(0, 0, 0, 0.50);
$clr-dark-gray: rgb(63, 63, 63);
$clr-gray: #808080;
