$clr-black: rgb(0, 0, 0);
$clr-white: rgb(255, 255, 255);
$clr-orange: rgb(255, 165, 0);
$clr-orange-transparent: rgb(255, 165, 0, 0.75);
$clr-white-transparent: rgba(255, 255, 255, 0.75);
$clr-black-transparent: rgba(0, 0, 0, 0.75);
$clr-gray: rgb(219, 219, 219);

/*
$clr-red100: rgb(255, 17, 0);
$clr-black: black;
$radius: 0.2rem;*/

