@use "media-breakpoints" as *;
@use "vars-colors" as *;
@use "uppercase" as *;

.video-panel {
    position: relative; /* No effect but to allow positioning of children */

    & img {
        display: block;
        max-width: 100%;
    }
    
    & p {
        @include uppercase;
        position: absolute;
        top: 1rem;
        margin: 0 auto;
        left: 0;
        right: 0;
        font-weight: bold;
        font-size: 1.8rem;
        letter-spacing: .01rem;
        text-align: center;
        text-shadow: .05rem .05rem $clr-white;
    }

    & .play-arrow {
        position: absolute;
        bottom: 30%;
        left: 0;
        right: 0;
        text-align: center;
        color: $clr-orange;
        font-size: 2rem;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $clr-black-transparent;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 20px;

    video {
        display: inline;
        max-width: 60%;
    }
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: $breakpoint-small) {
    .video-panel {
        p {
            font-size: 3rem;
        }

        & .play-arrow {
            font-size: 100px;
        }    
    }
}

@media (min-width: $breakpoint-medium) {
    .video-panel {
        p {
            font-size: 4rem;
        }

        & .play-arrow {
            font-size: 200px;
        }    
    }
}

@media (min-width: $breakpoint-large) {
    .video-panel {
        p {
            top: 4rem;
            font-size: 6rem;
        }

        & .play-arrow {
            font-size: 300px;
        }    
    }
}
