@use "vars-colors" as *;
@use "uppercase" as *;
@use "media-breakpoints" as *;

.video-panel {
    position: relative; /* No effect but to allow positioning of children */
    background-color: $clr-white;

    & img {
        display: block;
        width: 100%;
    }
    
    & h3 {
        @include uppercase;
        position: absolute;
        top: 1rem;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        text-shadow: .05rem .05rem $clr-white;
        font-size: 1.8rem;
        font-weight: 600;
    }

    & .play-arrow {
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        text-align: center;
        color: $clr-orange;
        font-size: 4rem;
    }

    &:hover .play-arrow {
        text-shadow: .05rem .05rem $clr-white;
        cursor: pointer;
    }  
}

@media (min-width: 400px) {
    .video-panel{
    
        h3 {
            font-size: 2rem;
        }

        .play-arrow {
            font-size: 6rem;
        }
    }
}

@media (min-width: $breakpoint-small) {
    .video-panel {
    
        h3 {
            font-size: 3rem;
        }
        .play-arrow {
            font-size: 8rem;
        }
    }
}


@media (min-width: $breakpoint-medium) {
    .video-panel {
    
        h3 {
            font-size: 4rem;
        }
        .play-arrow {
            font-size: 12rem;
        }
    }
}

@media (min-width: $breakpoint-large) {
    .video-panel {
    
        h3 {
            font-size: 5rem;
        }
        .play-arrow {
            font-size: 15rem;
        }
    }

    .modal-content {
        top: 10%;
        left: 10%;
        right: 10%;
    }
}



.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $clr-gray-transparent;
}

.modal-content {
    display: block;
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    background-color: $clr-white;
    padding: 1.5rem;
    margin: -3rem;

    video {
        display: block;
        max-width: 100%;
        color: $clr-orange
    }
    
    
    .close {
        @include uppercase;
        padding: .4rem .7rem;
        position: absolute;
        top: -.3rem;
        right: -.2rem;
        font-size: .7rem;
        font-weight: 400;
        background-color: $clr-black;
        color: $clr-white;
    }

    .close:hover {
        background-color: $clr-orange;
    }
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}




