
@use "vars-colors" as *;


body {

    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-color: $clr-dark-gray;
    width: 100%;
}

@media (min-width: 88.75em) {
    body {
      display: grid;
      grid-template-columns: 1fr 88.75rem 1fr;
    }
  
    .contant-wrapper-full {
      grid-column: 2 / 3;
      background-color: white;
    }
  }